<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- 限定公開運用のため既定で noindex -->
<meta name="robots" content="noindex,nofollow">


<title>{{ page.title | escape }}{% if page.title %} | {% endif %}{{ site.title | escape }}</title>

<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

<!-- Tailwind CSS CDN -->
<!--<script src="https://cdn.tailwindcss.com"></script> -->
<script src="https://cdn.tailwindcss.com?plugins=typography"></script>

<!-- お好みでカスタム CSS を足す場合（SCSS を使うなら /assets/css/style.css をビルド）-->
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">


<!-- この設定を先に置く（MathJax script の前） -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[','\\]']]
    }
    // 必要ならここに他オプション（例: packages 追加 など）
  };
</script>

<!-- MathJax（数式） -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


<style>
html { scroll-behavior: smooth; }
</style>